@font-face {
  font-family: Rubik;
  src: url("../fonts/Rubik-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: Rubik;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(60deg, #67d742, #85d76a, #c4e9a2);
}

.header-logo {
  height: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav a {
    all: unset;
    display: flex;
    align-items: center;
    margin-right: 50px;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.nav a:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.cart-logo {
    width: 30px;
    height: 30px;
}

.aside {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px 30px;
  border-radius: 0 0 10px 10px;
  background-color: #efefef;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox input {
    width: 15px;
    height: 15px;
}

.filter-button {
    all: unset;
    padding: 5px 15px;
    border-radius: 5px;
    color: #11240b;
    font-weight: 600;
    background-color: #c4e9a2;
    cursor: pointer;
    transition: 0.3S;
}

.filter-button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.image {
  padding: 20px;
  width: 200px;
  object-fit: contain;
}

.card-text {
    position: absolute;
    bottom: 0;
    padding: 80px 20px;
    align-self: center;
}

.card-title {
    margin-bottom: 10px;
}

.card-footer {
  position: absolute;
  bottom: 0;
  
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  gap: 10px;

  padding: 20px 30px;
  width: 100%;
}

.card-price {
    font-size: 20px;
    font-weight: bold;
}

.card-button {
    all: unset;
    font-size: 18px;
    background-color:  rgb(255, 253, 107);
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    transition: 0.3s;
}

.card-button:hover {
    background-color: rgb(255, 251, 0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.back-to-top {
    all: unset;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 40px;
    padding: 10px 20px;
    border-radius: 50%;
    background-color: #c4e9a2;
    box-shadow: rgba(133, 215, 106, 0.4) 0px 5px, rgba(133, 215, 106, 0.3) 0px 10px, rgba(133, 215, 106, 0.2) 0px 15px, rgba(133, 215, 106, 0.1) 0px 20px, rgba(133, 215, 106, 0.05) 0px 25px;
    transition: 0.3s;
}

.back-to-top:hover{
    background-color: rgb(133, 215, 106);
}

.back-to-top a {
    text-decoration: none;
    color: #11240b;
    font-size: 30px;
    font-weight: bold;
}

.page-footer {
    text-align: center;
    padding: 15px 0;
    background-color: rgb(133, 215, 106);
    color: #11240b;
    margin-top: 20px;
}

@media (min-width: 650px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
    }
}

.modal {
  display: none;
}

.modal-show {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  margin: 15% auto;
  padding: 2rem;
  width: 50rem;
  height: 20rem;
  border-radius: 1.5rem;
}

@media (min-width: 1024px) {
    .main-container {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 20px 50px;
    }
}

@media (min-width: 1200px) {
    .main-container {
        margin: 20px 100px;
    }

    .aside {
        padding: 20px 60px;
    }
}
