* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Rubik;
  src: url("../fonts/Rubik-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Rubik;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(60deg, #67d742, #85d76a, #c4e9a2);
}

.header-logo {
  height: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav a {
  all: unset;
  display: flex;
  align-items: center;
  margin-right: 50px;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.nav a:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.cart-logo {
  width: 30px;
  height: 30px;
}

/* Sparar de här ifall vi vill lägga till back to top-knappen på den här sidan */
.back-to-top {
  all: unset;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 40px;
  padding: 10px 20px;
  border-radius: 50%;
  background-color: #c4e9a2;
  box-shadow: rgba(133, 215, 106, 0.4) 0px 5px, rgba(133, 215, 106, 0.3) 0px 10px, rgba(133, 215, 106, 0.2) 0px 15px,
    rgba(133, 215, 106, 0.1) 0px 20px, rgba(133, 215, 106, 0.05) 0px 25px;
  transition: 0.3s;
}

.back-to-top:hover {
  background-color: rgb(133, 215, 106);
}

.back-to-top a {
  text-decoration: none;
  color: #11240b;
  font-size: 30px;
  font-weight: bold;
}
/* ------------------------ */

.checkoutcontainer-main {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 20px;
  padding: 20px;
}

.checkout-billing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  margin-top: 20px;
  position: relative;
  padding: 15px;
  width: 90%;
  height: fit-content;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.checkout-order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  margin-top: 20px;
  position: relative;
  padding: 15px;
  width: 90%;
  height: fit-content;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.parent-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.checkout-button {
  background-color: #c4e9a2;
  width: 150px;
  height: 30px;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}

.checkout-button:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.checkout-message {
  text-align: center;
  margin-top: 50px;
  font-weight: 600;
  font-size: 20px;
}

.page-footer {
  text-align: center;
  padding: 15px 0;
  background-color: rgb(133, 215, 106);
  color: #11240b;
  width: 100%;
}

@media (min-width: 750px) {
  .checkoutcontainer-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-top: 20px;
    position: relative;
    padding: 15px;
    width: 90%;
    height: fit-content;
  }

  .parent-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
