@font-face {
  font-family: Rubik;
  src: url("../fonts/Rubik-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Rubik;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(60deg, #67d742, #85d76a, #c4e9a2);
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.header-logo {
  height: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav a {
  all: unset;
  display: flex;
  align-items: center;
  margin-right: 50px;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.nav a:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.cart-logo {
  width: 30px;
  height: 30px;
}

.checkoutcontainer-main {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 20px;
}

.checkout-billing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  margin-top: 20px;
  position: relative;
  padding: 15px;
  width: 90%;
  height: fit-content;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.checkout-input input {
  width: 80%;
}

.checkout-order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  margin-top: 20px;
  position: relative;
  padding: 15px;
  width: 90%;
  height: fit-content;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.parent-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#clear-cart-btn {
  all: unset;
  background-color: rgb(237, 59, 89);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

#clear-cart-btn:hover {
  background-color: rgb(150, 0, 25);
}

.checkout-button {
  background-color: #c4e9a2;
  width: 150px;
  height: 30px;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  margin-bottom: 20px;
  transition: 0.3s;
}

.checkout-button:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.checkout-message {
  text-align: center;
  margin-top: 50px;
  font-weight: 600;
  font-size: 20px;
}

.page-footer {
  text-align: center;
  padding: 15px 0;
  background-color: rgb(133, 215, 106);
  color: #11240b;
  width: 100%;
  position: fixed;
  bottom: 0;
}

@media (min-width: 950px) {
  .checkoutcontainer-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-top: 20px;
    position: relative;
    padding: 15px;
    width: 90%;
    height: fit-content;
  }

  .parent-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
